{% load static %}
<div id="banner" class="ui inverted vertical masthead center aligned segment">

  <div class="ui container">
    <div class="ui large secondary inverted pointing menu">
      <a class="toc item">
        <i class="sidebar icon"></i>
      </a>
      <a href="." class="active item"><img src="{% static 'homepage/selo.png' %}"></a>
      {% for href, name in secoes.items %}
        <a href="#{{ href }}" class="item">{{ name }}</a>
      {% endfor %}
    </div>
  </div>

  <div class="ui container logo_banner">
    <img id="logo" src="{% static 'homepage/logo.png' %}" alt="">
  </div>

  <div class="social icons">
    <div class="ui container">
      <a target="_blank" href="https://wa.me/{{ contacts.whatsapp_number }}">
        <i class="whatsapp circular inverted primary link big icon"></i>
      </a>
      <a target="_blank" href="{{ contacts.instagram }}">
        <i class="instagram circular inverted primary link big icon"></i>
      </a>
      <a target="_blank" href="mailto:{{ contacts.email }}">
        <i class="envelope circular inverted primary link big icon"></i>
      </a>
      <a target="_blank" href="tel:{{ contacts.telephone_number }}">
        <i class="phone circular inverted primary link big icon"></i>
      </a>
    </div>
    <div class="ui basic segment">
      <div class="catalogo icons">
        <a class="ui primary button" href="downloads/Catálogo LE DUE CERÂMICAS (nov-20).pdf">
          Catálogo
        </a>
      </div>
    </div>
  </div>
</div>
