{% load static %}
<div class="ui inverted vertical footer segment">
  <div class="ui container">
    <div class="ui stackable inverted divided equal height stackable grid">
      <div class="two wide column">
        <img class="ui middle aligned tiny image" src="{% static 'homepage/selo_negativo_branco.png' %}" alt="">
      </div>
      <div class="fourteen wide column">
        <h4 class="ui inverted header">Entre em contato!</h4>
        <div class="ui inverted list">

          <div class="item">
            <i class="clock icon"></i>Atendimento: 9h às 18h (segunda à sexta)
          </div>

          <div class="item">
            <a href="tel:{{ contacts.telephone_number }}">
              <i class="phone icon"></i>
            </a>
            <span class="content">{{ contacts.telephone_text }}</span>
          </div>

          <div class="item">
            <a target="_blank" href="mailto:{{ contacts.email }}">
              <i class="envelope link icon"></i>
              <span class="content">{{ contacts.email }}</span>
            </a>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
